@model TheFaceShop.Models.SANPHAM
@{
    ViewBag.Title = "Thêm sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<a href="~/Admin/SanPham/ShowProduct" class="d-inline-block"><i class="far fa-list-alt" style="color: black; margin-left:10px"></i></a>
@using (Html.BeginForm("CreateProduct", "SanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal bg-white rounded">

    @Html.ValidationSummary(true)
    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="hinhAnh">Ảnh đại diện</label>
        <div class="col-sm-10">
            <div id="anh"></div>
            <input type="file" class="form-control" name="f" id="inputAnh">
        </div>
    </div>
    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="tenSP">Tên sản phẩm</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="tenSP"></div>
    </div>
    @if (ViewBag.TB != null)
    {
        <div class="form-group row p-3 text-center" style="color: red">
            <p>@ViewBag.TB</p>
        </div>
    }
    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="anhSP">Ảnh sản phẩm</label>
        <div class="col-sm-10">
            <div id="listAnhSP"></div>
            <div class="clear:both"></div>
            <input type="button" class="btn btn-light" id="chonAnh" value="Chọn ảnh" style="background-color:#c1efde" name="imageName" />
        </div>
    </div>

    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="giaBan">Giá bán</label>
        <div class="col-sm-10"><input type="number" class="form-control" name="giaBan"></div>
    </div>

    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="giaBan">Giá nhập</label>
        <div class="col-sm-10"><input type="number" class="form-control" name="giaNhap"></div>
    </div>

    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="loaiSP">Loại sản phẩm</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.MACTL_SP, new SelectList(ViewBag.MACTL_SP, "MACTL_SP", "TENCTL_SP"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MACTL_SP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="dangBaoChe">Dạng bào chế</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.MADBC, new SelectList(ViewBag.MADBC, "MADBC", "TENDANG"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MADBC, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="thanhPhan">Thành phần</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="thanhPhan"></div>
    </div>

    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="quyCach">Quy cách đóng gói</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(model => model.MAQCDG, new SelectList(ViewBag.MAQCDG, "MAQCDG", "TENQCDG"), "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MAQCDG, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="congDung">Công dụng</label>
        <div class="col-sm-10"><input type="text" class="form-control" name="congDung"></div>
    </div>

    <div class="form-group row p-3">
        <label class="control-label col-sm-2 h5" for="noiDung">Nội dung</label>
        <div class="col-sm-10"><textarea class="form-control rounded" id="noiDung" name="noiDung"></textarea></div>
    </div>

    <div class="form-group row p-3">
        <input type="submit" class="btn btn-light" value="Thêm" style="background-color:#c1efde" />
    </div>
</div>
}

@section Scripts{
    <script>CKEDITOR.replace("noiDung")</script>
}
