@model TheFaceShop.Models.SANPHAM

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="bg-white rounded p-3">
    <div class="row">
        <div class="col">
            <a href="~/Admin/SanPham/ShowProduct" class="d-inline-block"><i class="far fa-list-alt" style="color: black; margin-left:10px"></i></a>
            <a href="@Url.Action("UpdateProduct", "SanPham", new { ma = Model.MASP })" class="d-inline-block"><i class="far fa-edit" style="color: black"></i></a>
        </div>       
    </div>
    <div class="row">
        <div class="col-md-5">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/HinhAnhSP/@Model.ANHDAIDIEN" class="d-block w-100" alt="" />
                    </div>
                    @foreach (var image in Model.HINHANHSPs)
                    {
                        <div class="carousel-item">
                            <img src="~/HinhAnhSP/@image.HINHANH" class="d-block w-100" alt="" />
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>           
        </div>
        <div class="col-md-7">
            <table class="table table-borderless" style="text-align:left; width: 500px">
                <tr>
                    <td class="col-sm-4">Tên sản phẩm: </td>
                    <td class="col-sm-8">@Model.TENSP</td>
                </tr>
                <tr>
                    <td>Giá bán:</td>
                    <td>@Model.GIABAN</td>
                </tr>
                <tr>
                    <td>Giá nhập:</td>
                    <td>@Model.GIANHAP</td>
                </tr>
                <tr>
                    <td>Loại:</td>
                    <td>@Model.CHITIETLOAISP.CHITIETLOAI.LOAI.TENLOAI</td>
                </tr>
                <tr>
                    <td>Dạng bào chế:</td>
                    <td>@Model.DANGBAOCHE.TENDANG</td>
                </tr>
                <tr>
                    <td>Quy cách đóng gói:</td>
                    <td>@Model.QUYCACHDONGGOI.TENQCDG</td>
                </tr>
                <tr>
                    <td>Thành phần:</td>
                    <td>@Model.THANHPHAN</td>
                </tr>
                <tr>
                    <td>Công dụng:</td>
                    <td>@Model.CONGDUNG</td>
                </tr>
                <tr>
                    <td>Tồn kho:</td>
                    <td>@Model.TONKHO</td>
                </tr>
                <tr>
                    <td>Trạng thái:</td>
                    <td>@Model.TRANGTHAI</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row py-3">
        <div class="col-sm-2 px-3 h5" style="font-weight: bold">Giới thiệu</div>
        <div class="col-sm-10" style="text-align: justify; text-justify: inter-word;">@Html.Raw(@Model.NOIDUNG)</div>
    </div>
</div>
