@model IEnumerable<TheFaceShop.Models.CTDN>

@{
    ViewBag.Title = "Quản lý đơn nhập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Chi tiết đơn nhập</h2>

<a href="~/Admin/DonNhap/DanhSachDonNhap" class="d-inline-block"><i class="far fa-list-alt" style="color: black; margin-left:10px"></i></a>
<div class="row-md-1 bg-white rounded">
    <div class="col overflow-scroll" style="max-height: 75vh">
        <table class="table text-left align-middle table-striped table-fixed">
            <thead style="position: sticky; top: 0; background-color: #c1efde; text-align: center; z-index: 1;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SANPHAM.TENSP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SOLUONG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.THANHTIEN)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img src="~/HinhAnhSP/@item.SANPHAM.ANHDAIDIEN"
                                     alt=""
                                     style="width: 50px; height: 50px"
                                     class="rounded-circle" />
                                <div class="ms-3">
                                    @Html.DisplayFor(modelItem => item.SANPHAM.TENSP, new { @class = "text-start" })
                                    @*<p class="text-muted mb-0">john.doe@gmail.com</p>*@
                                </div>
                            </div>
                        </td>
                        <td style="text-align: center">
                            @Html.DisplayFor(modelItem => item.SOLUONG)
                        </td>
                        <td style="text-align: right">
                            @Html.DisplayFor(modelItem => item.THANHTIEN)
                        </td>                      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>