@model TheFaceShop.Models.Cart
    
@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/Shared/AccountLayoutPage.cshtml";
}
<link href="~/Content/GioHang.css" rel="stylesheet" />
@if (Model != null)
{
    <div class="container mt-3 row-md-1">
        <h2 style="text-align: center">Giỏ hàng của bạn</h2>
        <table class="table table-striped">
            <thead style="text-align: center">
                <tr>
                    <th class="col-5">Sản phẩm</th>
                    @*<th class="col-">Ảnh Sản Phẩm</th>*@
                    <th class="col-2 text-end">Giá</th>
                    <th class="col-2">Số lượng</th>
                    <th class="col-2 text-end">Thành tiền</th>
                    <th class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {

                    double total = Convert.ToDouble(item._shopping_product.GIABAN.Value * item._shopping_quantity);
                    <tr>
                        <td>
                            <div class="d-flex">
                                <img src="~/HinhAnhSP/@item._shopping_product.ANHDAIDIEN"
                                     alt=""
                                     style="width: 70px; height: 70px" />
                                <div class="ms-3">
                                    @Html.DisplayFor(model => item._shopping_product.TENSP, new { @class = "text-start" })
                                </div>
                            </div>
                        </td>
                        @*<td>
                            @Html.DisplayFor(model => item._shopping_product.TENSP)
                        </td>
                        <td>
                            <img src="~/HinhAnhSP/@item._shopping_product.ANHDAIDIEN" style=" width:150px; height: 150px" />
                        </td>*@
                        <td class="text-end">
                            @Html.DisplayFor(model => item._shopping_product.GIABAN)
                        </td>
                        <td>
                            @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                            {
                                <input type="hidden" value="@item._shopping_product.MASP" name="id_Pro" />
                                <input type="number" value="@item._shopping_quantity" name="Quantity" />
                                <button type="submit" value="Update_Quantity"><i class="far fa-pen"></i></button>                                             
                            }
                        </td>

                        <td class="text-end">
                            @total @*Thành tiền*@
                        </td>
                        <td class="text-end">
                            <a href="/ShoppingCart/RemoveCart/@item._shopping_product.MASP"><i class="fas fa-trash-alt" style="color: black"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align:right">Tổng tiền: @Model.Total_Money() </td>
                </tr>
            </tfoot>
        </table>
        <a href="@Url.Action("TrangChu","Home")" class="btn btn-success">Tiếp tục mua hàng</a>
        @Html.Action("ThanhToan","ShoppingCart")
        
    </div>

}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
