@model TheFaceShop.Models.Cart
    
@{
    ViewBag.Title = "ShowToCart";
    Layout = "~/Views/Shared/AccountLayoutPage.cshtml";
}
<link href="~/Content/GioHang.css" rel="stylesheet" />
@if (Model != null)
{
    <div class="container mt-3">
        <h2 style="text-align: center">Giỏ hàng của bạn</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Ảnh Sản Phẩm</th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                    <th>Xoá</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Items)
                {

                    double total = Convert.ToDouble(item._shopping_product.GIABAN.Value * item._shopping_quantity);
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item._shopping_product.TENSP)
                        </td>
                        <td>
                            <img src="~/HinhAnhSP/@item._shopping_product.ANHDAIDIEN" style=" width:150px; height: 150px" />
                        </td>
                        <td>
                            @Html.DisplayFor(model => item._shopping_product.GIABAN) VND
                        </td>
                        <td>
                            @using (Html.BeginForm("Update_Quantity_Cart", "ShoppingCart"))
                            {
                                <input type="hidden" value="@item._shopping_product.MASP" name="id_Pro" />
                                <input type="number" value="@item._shopping_quantity" name="Quantity" />
                                <button type="submit" value="Update_Quantity"><i class="far fa-pen"></i></button>
                            }
                        </td>

                        <td>
                            Thành tiền: @total
                        </td>
                        <td>
                            <a href="/ShoppingCart/RemoveCart/@item._shopping_product.MASP">xoá</a>
                        </td>
                    </tr>
                }

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align:right">Tổng tiền: @Model.Total_Money() </td>
                </tr>
            </tfoot>
        </table>
        <a href="@Url.Action("TrangChu","Home")" class="btn btn-success">Tiếp tục mua hàng</a>
        @Html.Action("ThanhToan","ShoppingCart")
        
    </div>

}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
