@model TheFaceShop.Models.SANPHAM

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/AccountLayoutPage.cshtml";
}
@section style{
    <link href="~/Content/css/thuoc.css" rel="stylesheet" />
}
<div class="mt-5 mb-5 w-75" style="margin: 0 auto">
    <div class="ctsp d-flex justify-content-center">
        <div class="w-100">
            <div class="card w-100" style="transform: none; box-shadow: none; border-radius: 20px">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-column align-items-center justify-content-center images p-3">
                            <div class="text-center p-md-4" style="height: 350px;">
                                <img class="img-fluid mb-3" style="height: 90%;" id="main-image"
                                     src="~/HinhAnhSP/@Model.ANHDAIDIEN" />
                            </div>
                            <div class="d-flex flex-row thumbnail text-center" style="gap: 5px">
                                @foreach (var item in Model.HINHANHSPs)
                                {
                                    <img class="mb-3" onclick="change_image(this)"
                                         src="~/HinhAnhSP/@item.HINHANH"
                                         style="height: 60px; width: 60px;" alt="ALBUM">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-2 pb-1">
                            <div class="mt-2 mb-3">
                                <span class="text-uppercase text-muted brand">
                                    Dung tích: @Model.DUNGTICH
                                </span>
                                <h5 class="text-uppercase">
                                    @Model.TENSP
                                </h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <span class="act-price">
                                        @Model.GIABAN
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p class="about p-2">
                            Thành phần: @Model.THANHPHAN
                        </p>
                        <p class="about p-2">
                            Công dụng: @Model.CONGDUNG
                        </p>
                        <div class="soluong mt-5 mx-2">
                            <div class="cart my-2 align-items-center">
                                <form action="/ShoppingCart/AddtoCart/@Model.MASP" method="POST">
                                    <button class="btn btn-success text-uppercase my-2" type="submit">
                                        Thêm vào giỏ hàng
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="containernd">
    <div class="box1" style="margin: 2rem 15rem">
        <h1>Nội dung</h1>
        <div class="boxnd bg max-height" style="text-align: justify; text-justify: inter-word; font-size:24px">
            @Html.Raw(Model.NOIDUNG)
        </div>
        <div class="btn d-flex justify-content-center align-center w-100">
            <button id="show-more">
                Xem thêm
            </button>
            <button id="show-less">
                Ẩn bớt
            </button>
        </div>
    </div>
</div>

<section>
    <div class="related-product">
        <h1 style="text-align: center; margin-bottom: 100px; font-size: 45px; color: black;">
            SẢN PHẨM LIÊN QUAN
        </h1>
        <div class="row row-cols-1 row-cols-md-5 g-4">
            @foreach (var item in ViewBag.SPLQ)
            {
                <div class="col d-flex align-items-stretch justify-content-center">
                    <div class="card d-flex justify-content-between shadow border-0" style="max-width: 300px">
                        <img src="~/HinhAnhSP/@item.ANHDAIDIEN" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@item.TENSP</h5>
                            <p class="card-text">@item.CONGDUNG</p>
                            <a href="/SP/ChiTietSanPham/@item.MASP" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<div class="d-flex justify-content-center align-items-center">
    <a href="" class="btn btn-success text-uppercase px-4 mx-auto my-5" type="submit">Xem thêm</a>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Bình luận</h1>
                @foreach (var item in Model.CTDGs)
                {
                    if (item.BINHLUAN != null || item.MUCDODG != null)
                    {
                        <div class="comment mt-4 text-justify float-left">
                            <h4>@item.DONGIAO.KHACHHANG.TENKH</h4>
                            <span>@item.NGAYBL</span>
                            <br>
                            @{
                                for (int i = 0; i < item.MUCDODG; i++)
                                {
                                    @: <i class="fas fa-star"></i>
                                }
                            }

                            <br />
                            <p>@item.BINHLUAN</p>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form action="/SP/BinhLuan" method="post" id="algin-form">
                    @if (Session["user"] != null)
                    {
                        <input type="text" name="masp" value="@Model.MASP" hidden />
                        <div class="form-group">
                            <h4>Để lại bình luận</h4>
                            <label for="message">Bình luận</label>
                            <textarea name="bl" id="" msg cols="30" rows="5" class="form-control"></textarea>
                            <br />
                            <h4>Mức độ đánh giá</h4>
                            <div class="d-flex rating">
                                <input type="number" id="mddg" name="mddg" value="0" hidden />
                                <div onclick="Rate(1)"><i id="s1" onclick="Rate(1)" class="fal fa-star"></i></div>
                                <div onclick="Rate(2)"><i id="s2" onclick="Rate(2)" class="fal fa-star"></i></div>
                                <div onclick="Rate(3)"><i id="s3" onclick="Rate(3)" class="fal fa-star"></i></div>
                                <div onclick="Rate(4)"><i id="s4" onclick="Rate(4)" class="fal fa-star"></i></div>
                                <div onclick="Rate(5)"><i id="s5" onclick="Rate(5)" class="fal fa-star"></i></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-danger">@ViewBag.TB</p>
                        </div>
                        <div class="form-group">
                            <button type="button" id="post" onclick="Checkmddg()" class="btn btn-success mb-2">Bình luận</button>
                        </div>

                    }
                    else
                    {
                        <h4>Bạn cần đăng nhập để bình luận</h4>
                        @Html.ActionLink("Đăng nhập", "DangNhap", "Home", new { area = "" }, new { @class = "btn btn-primary btn-success" })
                    }
                </form>
            </div>
        </div>
    </div>
</section>
@section script{
    @if (ViewBag.TB != null) {
        <script>
            window.onload = function () {
                swal("Nhắc nhở","@Html.Raw(ViewBag.TB)");
            };
        </script>
    }
    <script>
        function change_image(image) {
            var container = document.getElementById("main-image");
            let tmp
            tmp = container.src;
            container.src = image.src;
            image.src = tmp;
        }
    </script>
    <script>
        const showMore = document.getElementById("show-more");
        const maxHeight = document.querySelector(".max-height");
        const showLess = document.getElementById("show-less");
        if (showMore) {
            showMore.onclick = () => {
                if (maxHeight) {
                    maxHeight.style.maxHeight = "max-content";
                    maxHeight.classList.remove("bg");
                    if (showLess) {
                        showLess.style.display = "inline-block";
                        showMore.style.display = "none";
                    }
                }
            };
        }
        if (showLess) {
            showLess.onclick = () => {
                console.log("call show less");
                if (maxHeight) {
                    maxHeight.style.maxHeight = "150px";
                    maxHeight.classList.add("bg");
                    if (showMore) {
                        showLess.style.display = "none";
                        showMore.style.display = "inline-block";
                    }
                }
            };
        }
    </script>
    <script>
        function Rate(r) {
            for (var i = 1; i <= r; i++) {
                document.getElementById("s" + i).classList.add("fas");
                document.getElementById("s" + i).classList.remove("fal");
            }
            for (var i = r + 1; i <= 5; i++) {
                document.getElementById("s" + i).classList.add("fal");
                document.getElementById("s" + i).classList.remove("fas");
            }
            document.getElementById("mddg").value = r;
        }
    </script>
    <script>
        function Checkmddg() {
            var mddg = document.getElementById("mddg").value;
            if (mddg == 0) {
                alert("Bạn chưa đánh giá");
                e.preventDefault();
            }
            else {
                document.getElementById("algin-form").submit();
            }
        }
    </script>
}