@model TheFaceShop.Models.SANPHAM

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/AccountLayoutPage.cshtml";
}
@section style{
    <link href="~/Content/css/thuoc.css" rel="stylesheet" />
}
<div class="container mt-5 mb-5 w-100" style="padding-top: 100px;">
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card w-100" style="transform: none; box-shadow: none;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="d-flex flex-column align-items-center justify-content-center images p-3">
                            <div class="text-center p-md-4" style="height: 350px;">
                                <img class="img-fluid mb-3" style="height: 90%;" id="main-image"
                                     src="~/HinhAnhSP/@Model.ANHDAIDIEN" />
                            </div>
                            <div class="d-flex flex-row thumbnail text-center" style="gap: 5px">
                                @foreach (var item in Model.HINHANHSPs)
                                {
                                    <img class="mb-3" onclick="change_image(this)"
                                         src="~/HinhAnhSP/@item.HINHANH"
                                         style="height: 60px; width: 60px;" alt="ALBUM">
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product p-5 pb-1">
                            <div class="mt-2 mb-3">
                                <span class="text-uppercase text-muted brand">
                                    Dung tích: @Model.DUNGTICH
                                </span>
                                <h5 class="text-uppercase">
                                    @Model.TENSP
                                </h5>
                                <div class="price d-flex flex-row align-items-center">
                                    <span class="act-price">
                                        @Model.GIABAN
                                    </span>
                                </div>
                            </div>
                        </div>
                        <p class="about p-2">
                            Thành phần: @Model.THANHPHAN
                        </p>
                        <p class="about p-2">
                            Công dụng: @Model.CONGDUNG
                        </p>
                        <div class="soluong mt-5 mx-2">
                            <div class="cart my-2 align-items-center">
                                <form action="/ShoppingCart/AddtoCart/@Model.MASP" method="POST">
                                    <button class="btn btn-success text-uppercase my-2" type="submit">
                                        Thêm vào giỏ hàng
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<section>
    <div class="related-product">
        <h1 style="text-align: center; margin-bottom: 100px; font-size: 45px; font-style: italic; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: rgb(228, 42, 42);">
            SẢN PHẨM LIÊN QUAN
        </h1>
        @foreach (var item in ViewBag.SPLQ)
        {
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col d-flex align-items-stretch justify-content-center">
                    <div class="card shadow border-0" style="max-width: 300px">
                        <img src="~/HinhAnhSP/@item.ANHDAIDIEN" alt="" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@item.TENSP</h5>
                            <p class="card-text">@item.CONGDUNG</p>
                            <a href="/SP/ChiTietSanPham/@item.MASP" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<div class="d-flex justify-content-center align-items-center">
    <a href="" class="btn btn-danger text-uppercase px-4 mx-auto my-5" type="submit">Xem thêm</a>
</div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-md-6 col-12 pb-4">
                <h1>Bình luận</h1>
                @foreach (var item in Model.CTDGs)
                {
                    if (item.BINHLUAN != null)
                    {
                        <div class="comment mt-4 text-justify float-left">
                            <h4>@item.DONGIAO.KHACHHANG.TENKH</h4>
                            <span>@item.NGAYBL</span>
                            <br>
                            @{
                                for (int i = 0; i < item.MUCDODG; i++)
                                {
                                    @: <i class="fas fa-star"></i>
                                }
                            }

                            <br />
                            <p>@item.BINHLUAN</p>
                        </div>
                    }
                }
            </div>
            <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                <form id="algin-form">
                    @if (Session["user"] != null)
                    {
                        <div class="form-group">
                            <h4>Để lại bình luận</h4>
                            <label for="message">Message</label>
                            <textarea name="msg" id="" msg cols="30" rows="5" class="form-control"></textarea>

                            <label for="quantity">Mức độ đánh giá (từ 1 đến 5):</label>
                            <input type="number" id="quantity" name="quantity" min="1" max="5"><br>
                        </div>
                        <div class="form-group">
                            <button type="button" id="post" class="btn">Bình luận</button>
                        </div>
                    }
                    else
                    {
                        <h4>Bạn cần đăng nhập để bình luận</h4>
                        @Html.ActionLink("Đăng nhập", "DangNhap", "Home", new { area = "" }, new { @class = "btn btn-primary btn-success" })
                    }
                </form>
            </div>
        </div>
    </div>
</section>
@section script{
    <script>
        function change_image(image) {
            var container = document.getElementById("main-image");
            let tmp
            tmp = container.src;
            container.src = image.src;
            image.src = tmp;
        }
    </script>
}