@model IEnumerable<TheFaceShop.Models.DONGIAO>

@{
    ViewBag.Title = "DanhSachDonGiao";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>DanhSachDonGiao</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MADG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYLAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MAKH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGUOINHAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SONHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHUONGXA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRIGIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRANGTHAI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MADG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAYLAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MAKH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGUOINHAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SONHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PHUONGXA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRIGIA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRANGTHAI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
