@model IEnumerable<TheFaceShop.Models.DONGIAO>

@{
    ViewBag.Title = "Quản lý đơn giao";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row-md-1 bg-white rounded">
    <div class="col overflow-scroll" style="max-height: 75vh">
        <table class="table text-left align-middle table-striped table-fixed table-bordered">
            <thead style="position: sticky; top: 0; background-color: #c1efde; text-align: center; z-index: 1;">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MADG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NGAYLAP)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.KHACHHANG.TENKH)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NGUOINHAN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SDT)
                    </th>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.SONHA)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TRIGIA)
                    </th>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.TRANGTHAI)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MADG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NGAYLAP)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KHACHHANG.TENKH)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NGUOINHAN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SDT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SONHA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PHUONGXA1.full_name), @Html.DisplayFor(modelItem => item.PHUONGXA1.QUANHUYEN.full_name), @Html.DisplayFor(modelItem => item.PHUONGXA1.QUANHUYEN.TINHTHANH.full_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TRIGIA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TRANGTHAI)
                        </td>
                        <td>
                            @if (item.TRANGTHAI == "Đang chuẩn bị" || item.TRANGTHAI == "Đang vận chuyển")
                            {
                                <form action="/Admin/DonGiao/TrangThaiDonGiao" method="post">
                                    <input type="hidden" name="MADG" value="@item.MADG" />
                                    <select class="form-control form-control-sm" onchange="this.form.submit()" name="TRANGTHAI">
                                        <option>Trạng thái đơn hàng</option>
                                        <option value="Đã huỷ">Đã huỷ</option>
                                        <option value="Đang chuẩn bị">Đang chuẩn bị</option>
                                        <option value="Đang vận chuyển">Đang vận chuyển</option>
                                        <option value="Đã giao">Đã giao</option>
                                        <option value="Giao không thành công">Giao không thành công</option>
                                    </select>
                                </form>
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("ChiTietDonGiao", "DonGiao", new { MADG = item.MADG })"><i class="far fa-info-circle" style="color: black"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>