@model IEnumerable<TheFaceShop.Models.SANPHAM>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/AccountLayoutPage.cshtml";
}

@if (Model.Any())
{
    <h4>Kết quả tìm kiếm:</h4>
    @*<ul>
            @foreach (var product in Model)
            {
                <li>@product</li>
            }
        </ul>*@
    <div class="row row-cols-1 row-cols-md-3 g-4 px-5 mb-4" style="margin-top: 10px;">
        @foreach (var productName in Model)
        {
            <div class="col d-flex align-items-stretch justify-content-center">
                <div class="card" style="display: flex; text-align: center;">
                    <!-- Ảnh sản phẩm (thay thế link ảnh dựa vào dữ liệu của bạn) -->
                    <img src="~/HinhAnhSP/@productName.ANHDAIDIEN" class="card-img-top" alt="@productName.TENSP" />
                    <div class="card-body">
                        <!-- Tên sản phẩm -->
                        <h6 class="card-title text-capitalize">@productName.TENSP</h6>
                        <!-- Giá sản phẩm -->
                        <p class="card-text fw-bold">@String.Format("{0:n0}", productName.GIABAN)đ</p>
                        <!-- Đánh giá (có thể thay thế dựa trên dữ liệu thực tế của bạn) -->
                        <p class="card-text"><i class="fas fa-star" style="color: #000000;"></i> @productName.TONGDANHGIA/5</p>
                        <!-- Nút Xem chi tiết -->
                        <div class="d-grid mx-auto mb-20">
                            <a href="@Url.Action("ChiTietSanPham", "SP", new {id= productName.MASP})"><button type="button" class="btn btn-outline-success rounded-pill">Xem chi tiết</button></a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Không tìm thấy sản phẩm nào phù hợp.</p>
}
